$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

@mixin xs {
	@media (max-width: $xs) {
		@content;
	}
}
@mixin sm {
	@media (min-width: $sm) {
		@content;
	}
}
@mixin md {
	@media (min-width: $md) {
		@content;
	}
}
@mixin lg {
	@media (min-width: $lg) {
		@content;
	}
}
@mixin xl {
	@media (min-width: $xl) {
		@content;
	}
}
@mixin xxl {
	@media (min-width: $xxl) {
		@content;
	}
}
@mixin xs {
	@media (min-width: $xs) {
		@content;
	}
}

.todoFormBackground {
  background-color: #fff;
	padding: 24px;
  border-radius: 8px;
  border: solid 1px #d9d9d9;
  margin-bottom: 8px;
}

.list {
  background-color: #fff;
  overflow-y: auto;
	position: relative;
	
	.ant-list-header{
		display: flex;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: #fff;
		border-bottom: solid 1px #d9d9d9;
		box-shadow: 0 4px 4px rgba($color: #d9d9d9, $alpha: 0.2);
	}

	.userList {
		display: flex;
		gap: 0 16px;
	}
}