$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

@mixin xs {
	@media (max-width: $xs) {
		@content;
	}
}
@mixin sm {
	@media (min-width: $sm) {
		@content;
	}
}
@mixin md {
	@media (min-width: $md) {
		@content;
	}
}
@mixin lg {
	@media (min-width: $lg) {
		@content;
	}
}
@mixin xl {
	@media (min-width: $xl) {
		@content;
	}
}
@mixin xxl {
	@media (min-width: $xxl) {
		@content;
	}
}
@mixin xs {
	@media (min-width: $xs) {
		@content;
	}
}

.todoFormBackground {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: solid 1px #d9d9d9;
  margin-bottom: 8px;
}

.list {
  background-color: #fff;
  padding: 8px;
  flex: content;
  overflow-y: auto;
}