$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

@mixin xs {
	@media (max-width: $xs) {
		@content;
	}
}
@mixin sm {
	@media (min-width: $sm) {
		@content;
	}
}
@mixin md {
	@media (min-width: $md) {
		@content;
	}
}
@mixin lg {
	@media (min-width: $lg) {
		@content;
	}
}
@mixin xl {
	@media (min-width: $xl) {
		@content;
	}
}
@mixin xxl {
	@media (min-width: $xxl) {
		@content;
	}
}

.todoForm {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 40px 40px 40px;
	align-items: center;

	@include md {
		width: 100%;
		display: flex;
		padding-left: 8px;
	}

  .formItem {

		@include md {
			display: flex;
		}

		&:nth-of-type(1) {
			grid-column: 1 / 2;

			@include md {
				width: auto;
			}
		}

    &:nth-of-type(2) {
			grid-column: 2 / 3;
		
			@include md {
				flex: content;
			}
    }

    &:nth-of-type(3) {
			grid-column: 3 / 4;
			width: fit-content;

			@include md {
				width: 120px;
			}
    }

    &:nth-of-type(4) {
			grid-column: 1 / 4;

			@include md {
				width: 120px;
			}
    }

		&:nth-of-type(5) {
			grid-column: 1 / 4;
			display: flex;
			justify-content: end;

			@include md {
				width: auto;
			}
		}
  }
}